---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-history-service
  labels:
    app: catalog-history-service
spec:
  template:
    spec:
      containers:
        - name: catalog-history-service
          env:
            - name: PROJECT_ID_GCP
              valueFrom:
                secretKeyRef:
                  name: common-prod
                  key: PROJECT_ID
            - name: MONGO_HOST
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_HOST
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: catalog-history-service
                  key: MONGODB_USER
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: catalog-history-service
                  key: MONGODB_PASSWORD
            - name: MONGODB_AUTH
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_AUTH
            - name: MONGODB_REPLICASET
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_REPLICASET
            - name: SSO_AUTH_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl-prod
                  key: SSO_AUTH_URI
            - name: CORS_ORIGIN_PATTERNS
              value: https://*.fellesdatakatalog.digdir.no
